@import 'tailwindcss';

@theme {
  --font-sans: 'Poppins', 'sans-serif';
  --font-serif: 'Libre Baskerville', 'serif';
}

@supports (-webkit-overflow-scrolling: touch) {
  .bg-fixed {
    background-attachment: scroll;
  }
}
